<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Fandango Test Suite" parallel="classes" thread-count="2">
    <test name="Home Page Tests">
        <classes>
            <class name="tests.HomeTests"/>
        </classes>
    </test>

    <test name="Search Tests">
        <classes>
            <class name="tests.SearchTests"/>
        </classes>
    </test>

    <test name="Movie Tests">
        <classes>
            <class name="tests.MovieTests"/>
        </classes>
    </test>

    <test name="Theater Tests">
        <classes>
            <class name="tests.TheaterTests"/>
        </classes>
    </test>

    <test name="UIValidation Tests">
        <classes>
            <class name="tests.UIValidationTests"/>
        </classes>
    </test>

    <test name="Checkout Tests">
        <classes>
            <class name="tests.CheckoutTests"/>
        </classes>
    </test>

    <test name="Error Handling Tests">
        <classes>
            <class name="tests.ErrorHandlingTests"/>
        </classes>
    </test>

    <test name="Navigation Tests">
        <classes>
            <class name="tests.NavigationTests"/>
        </classes>
    </test>
</suite>